#navi
{
list-style: none;


}
#navi a{
text-decoration: none;
font-size: 12px;
padding: 13px;
color:LightGray;
color:;

}
#navi li 
{
float:right;
list-style:none;
padding: 13px;
border-style:inset;
border-color: #696969;
border-width:0px 0px 1px 0px;
width:120px;
}
